In [ ]:
pip install snscrape

In [3]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [4]:
query = "(#Jiocinema) since:2023-03-31"

In [5]:
tweets = []
limit = 5000

In [6]:
# for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
#     print(vars(tweet))
#     break

In [7]:
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    
    if len(tweets) == limit:
        break
    
    else:
        tweets.append([tweet.date, tweet.user.username, tweet.rawContent])

In [8]:
df = pd.DataFrame(tweets, columns = ["date", "user", "tweet"])

In [9]:
df

,date,user,tweet
0,2023-04-01 07:27:44+00:00,MohsinK94517919,To check how many sim registered on your Cnic ...
1,2023-04-01 07:27:34+00:00,JaniceSharon9,Make money online using your phone at the comf...
2,2023-04-01 07:27:33+00:00,AnaghbratiR,Next Schedule join telegram ‚¨áÔ∏è‚¨áÔ∏è‚¨áÔ∏è‚¨áÔ∏è\nhttps://...
3,2023-04-01 07:27:09+00:00,Myworld556,Your nic #‡πÄ‡∏≠‡πã‡∏ä‡∏ô‡∏°‡πå‡∏™‡∏ß‡∏±‡∏™‡∏î‡∏¥‡πå #AprilFoolsDay #Austr...
4,2023-04-01 07:27:00+00:00,AbdulRa76608989,https://t.co/AaV96837gk\n\nÿ≥ÿ±⁄ØŸàÿØ⁄æÿß ÿ≥€í ŸÑÿß€ÅŸàÿ± ÿµÿ±...
...,...,...,...
4995,2023-03-31 14:19:29+00:00,Jonah_16,@JioCinema This app sucks. Full on lag on TV w...
4996,2023-03-31 14:19:27+00:00,FaizanS62954190,Sensational Shami üî•üî•üî•...#IPL2023 #GTvsCSK #gtv...
4997,2023-03-31 14:19:26+00:00,changedusrname,Haha #jiocinema promoting Tamil. Clean stream....
4998,2023-03-31 14:19:25+00:00,JhontyVirat,Isse acha toh Adani ko de dete rights #JioCinema
4999,2023-03-31 14:19:23+00:00,2742chirag,#JioCinema\nPehle FIFA World Cup\nNow IPL\nKya...

In [11]:
df.to_csv('file1.csv')